<div class="row">
  <div class="col-xxl-2 col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
    <div class="card" style="min-height: 400px;">
      <div class="position-relative">
        <a class="card-top">
          <!--              <div class="folder-icon glyph-icon simple-icon-folder" *ngIf="p.tags.length < 4"></div>-->

          <!--        <div class="gallery clearfix">
                    <div class="img-fluid-wrapper">
                      <div class="img-fluid">
                        <div class="folder-icon glyph-icon simple-icon-folder"></div>
                      </div>
                    </div>
                  </div>-->

          <div class="gallery with-five-images clearfix">
            <div class="img-fluid-wrapper">
              <img class="img-fluid border-radius c-pointer" src="/assets/img/products/fruitcake.jpg"/>
            </div>
            <div class="img-fluid-wrapper">
              <img class="img-fluid border-radius c-pointer " src="/assets/img/products/marble-cake.jpg"/>
            </div>
            <div class="img-fluid-wrapper">
              <img class="img-fluid border-radius c-pointer" src="/assets/img/products/fruitcake.jpg"/>
            </div>
            <div class="img-fluid-wrapper">
              <img class="img-fluid border-radius c-pointer" src="/assets/img/products/parkin.jpg"/>
            </div>
            <div class="img-fluid-wrapper">
              <img class="img-fluid border-radius c-pointer" src="/assets/img/products/fruitcake.jpg"/>
            </div>
          </div>
        </a>
      </div>
      <div class="card-body">
        <div class="row">

          <div class="col-12">
            <a href="javascript:;">
              <p class="list-item-heading mb-1 pt-1">Name</p>
            </a>

            <p class="text-muted text-small mb-2 font-weight-light"></p>
            <p class="text-muted text-small mb-2 font-weight-light">A young woman is protesting with a dog alone on a
              street with police cars behind her</p>
            <div><span class="badge badge-pill badge-dark mb-1" style="font-size: 12px;">$300</span>
              <span class="badge badge-pill badge-dark mb-1 float-right" style="font-size: 12px;padding-right: 0;background-color: transparent;color: #222121;">24 assets</span>
            </div>

            <footer>
              <div>
                <!--                    //category-->
                <!--              <span *ngIf="p.category" class="badge badge-pill badge-dark mb-1 mr-1">in: {{p.category.label}}</span>-->

                <!--              <span *ngFor="let tag of p.tags" class="badge badge-pill badge-light mb-1 mr-1">{{tag}}</span>-->
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

