<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Description</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-body">

      <div class="mt-4">
        <label>{{ 'pages.description' | translate }}</label>
        <textarea  (input)="onChange($event)" formControlName="description" class="form-control" rows="3"
                   placeholder="Enter 10 characters or more"></textarea>
      </div>

      <div style="margin-top: 20px" *ngIf="showError">
        <alert [dismissible]="true" type="danger rounded">
          Please enter 10 or more characters. Alphabets and numbers only.
        </alert>
      </div>

      <div style="margin-top: 20px" *ngIf="showSuccess">
        <alert  [dismissible]="true" type="success rounded">
          Your changes have been saved
        </alert>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary"
              (click)="closeClicked()">{{'pages.cancel' | translate }}</button>
      <button type="submit"  class="btn btn-primary float-right">{{ 'pages.submit' | translate}}</button>
    </div>
  </form>
</ng-template>
