<footer class="footer">
  <div class="footer-top">
    <div class="row" style="margin-top: -67px">
      <div class="col-12 text-right">
        <a class="btn btn-circle btn-outline-semi-light footer-circle-button"
           (click)="scrollTo('#home')" href="javascript:;"><i class="simple-icon-arrow-up"></i></a>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4 col-md-12">
        <a class="logo-footer" href="#home">
          <img src="/assets/logos/black.svg" alt="" style=" width: 150px;">
        </a>
        <p class="mt-4">There is now an abundance of readable dummy texts. <br>These are is required
          purely to fill a space.</p>
        <ul class="list-unstyled social-icon-list mb-0 mt-4">
          <li class="list-inline-item"><a href="javascript:void(0)" class="">
            <i class="iconsminds-facebook"></i>
          </a></li>
          <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
            <i class="iconsminds-twitter"></i>
          </a></li>
          <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
            <i class="iconsminds-instagram"></i>
          </a></li>
          <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
            <i class="iconsminds-pinterest"></i>
          </a></li>
        </ul><!--end icon-->
      </div>

      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2 mt-lg-0 pt-lg-0">
            <h5 class="font-weight-normal mb-0">More</h5>
            <ul class="list-unstyled mt-4">
              <li><a href="javascript:void(0)" class="text-foot">Shared
                Hosting</a></li>
              <li><a href="javascript:void(0)" class="text-foot">VPS
                Hosting</a></li>
              <li><a href="javascript:void(0)" class="text-foot">Dedicated
                Hosting</a></li>
              <li><a href="javascript:void(0)" class="text-foot">Cloud
                Hosting</a></li>
              <li><a href="javascript:void(0)" class="text-foot">Reseller
                Hosting</a></li>
              <li><a href="javascript:void(0)" class="text-foot">Domain
                Name</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2 mt-lg-0 pt-lg-0">
            <h5 class="font-weight-normal mb-0">About</h5>
            <ul class="list-unstyled mt-4">
              <li><a href="javascript:void(0)" class="text-foot">About
                us</a></li>
              <li><a href="javascript:void(0)" class="text-foot">Contact
                us</a></li>
              <li><a href="javascript:void(0)" class="text-foot">Terms
                &amp; Services</a></li>
              <li><a href="javascript:void(0)" class="text-foot">Privacy
                Policy</a></li>
            </ul>
          </div>

          <div class="col-lg-6 col-md-4 col-12 mt-4 pt-2 mt-lg-0 pt-lg-0">
            <h5 class=" font-weight-normal mb-0">Newsletter</h5>
            <p class="mt-4">Sign up and receive the latest tips via email.</p>
            <form class="newsletter-form">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group position-relative">
                    <label class="">Write your email <span class="">*</span></label>
                    <input type="email" name="email" id="emailsubscribe" class="form-control"
                           placeholder="Your email : " required="">
                  </div>
                </div>
                <div class="col-lg-12">
                  <input type="submit" id="submitsubscribe" name="send" class="btn btn-dark default btn-block"
                         value="Subscribe">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="footer-bottom">
    <div class="row text-center">
      <div class="col-sm-6 col-md-7">
        <div class="text-sm-left">
          <p class="mb-0">© 2020 Lenzably</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-5 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <ul class="list-unstyled text-sm-right mb-0">
          <li class="list-inline-item mb-0"><a href="page-privacy.html" class=" mr-2">Privacy</a></li>
          <li class="list-inline-item mb-0"><a href="page-terms.html" class=" mr-2">Terms</a></li>
          <li class="list-inline-item mb-0"><a href="page-faqs.html" class=" mr-2">FAQs</a></li>
          <li class="list-inline-item mb-0"><a href="contact.html" class="">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
