.footer{
  background: white;
  padding: 0 35px;
  margin-top: 40px;
  .footer-top{
    padding: 40px 0;
    .newsletter-form{
      max-width: 600px;
      @media screen and (max-width: 767px) {
        width: 100%;
        max-width: 100%;
      }
    }
  }
  .footer-bottom{
    padding: 30px 0;
    border-top: 1px solid #d0d0d0;
  }
}

.landing-page{
  .footer{
    .btn-outline-semi-light.footer-circle-button {
      margin: 0;
      border: 1px solid #3a3a3a;
      color: #3a3a3a;
      background: transparent;
      &:hover{
        border: 1px solid #000000;
        color: #000000 !important;
      }
    }
  }
}
