<div class="containerw3 lb-grid">
  <a class="position-relative grid-item">
    <img src="/assets/img/details/1.jpg" loading="lazy"/>
    <div class="gird-item-hover">
      <div class="gird-item-hover__inner">
        <h5 class="title"><span>Cake</span></h5>
        <ul class="related-tags">
          <li><a href="">in: Nature</a></li>
          <li><a href="">#cake</a></li>
          <li><a href="">#bake</a></li>
          <li><a href="">#food</a></li>
          <li><a href="">#choccalate</a></li>
          <li><a href="">#birthday</a></li>
        </ul>
      </div>
      <div class="gird-item-hover__buttons">
        <a title="Like photo" class="">
          <i class="icon-magnify simple-icon-heart"></i>
        </a>
        <a title="Add to collection" class="">
          <i class="icon-magnify iconsminds-add"></i>
        </a>
      </div>
      <a href="" class="hover-element">
        buy now
      </a>
    </div>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/details/2.jpg" loading="lazy"/>
    <div class="gird-item-hover style1">
      <div class="gird-item-hover__inner">
        <h5 class="title"><span>Cake</span></h5>
        <ul class="related-tags">
          <li><a href="">in: Nature</a></li>
          <li><a href="">#cake</a></li>
          <li><a href="">#bake</a></li>
          <li><a href="">#food</a></li>
          <li><a href="">#choccalate</a></li>
          <li><a href="">#birthday</a></li>
        </ul>
      </div>
      <div class="gird-item-hover__buttons">
        <a title="Like photo" class="">
          <i class="icon-magnify simple-icon-heart"></i>
        </a>
        <a title="Add to collection" class="">
          <i class="icon-magnify iconsminds-add"></i>
        </a>
      </div>
      <a href="" class="hover-element">
        buy now
      </a>
    </div>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/profiles/l-1.jpg" loading="lazy"/>
    <div class="gird-item-hover style1">
      <div class="gird-item-hover__inner">
        <h5 class="title"><span>Cake</span></h5>
        <ul class="related-tags">
          <li><a href="">in: Nature</a></li>
          <li><a href="">#cake</a></li>
          <li><a href="">#bake</a></li>
          <li><a href="">#food</a></li>
          <li><a href="">#choccalate</a></li>
          <li><a href="">#birthday</a></li>
        </ul>
      </div>
      <div class="gird-item-hover__buttons">
        <a title="Like photo" class="">
          <i class="icon-magnify simple-icon-heart"></i>
        </a>
        <a title="Add to collection" class="">
          <i class="icon-magnify iconsminds-add"></i>
        </a>
      </div>
      <a href="" class="hover-element">
        buy now
      </a>
    </div>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/details/4.jpg" loading="lazy"/>
    <div class="gird-item-hover style1">
      <div class="gird-item-hover__inner">
        <h5 class="title"><span>Cake</span></h5>
        <ul class="related-tags">
          <li><a href="">in: Nature</a></li>
          <li><a href="">#cake</a></li>
          <li><a href="">#bake</a></li>
          <li><a href="">#food</a></li>
          <li><a href="">#choccalate</a></li>
          <li><a href="">#birthday</a></li>
        </ul>
      </div>
      <div class="gird-item-hover__buttons">
        <a title="Like photo" class="">
          <i class="icon-magnify simple-icon-heart"></i>
        </a>
        <a title="Add to collection" class="">
          <i class="icon-magnify iconsminds-add"></i>
        </a>
      </div>
      <a href="" class="hover-element">
        buy now
      </a>
    </div>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/profiles/l-3.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/profiles/l-4.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/profiles/l-5.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/profiles/l-6.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/profiles/l-7.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/profiles/l-9.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/profiles/l-11.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/cards/thumb-1.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/profiles/l-2.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/cards/thumb-2.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/details/3.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/cards/thumb-3.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/cards/thumb-4.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/grid/1.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/grid/2.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/profiles/l-8.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/grid/3.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/grid/4.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/grid/5.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/grid/6.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/profiles/l-10.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/grid/7.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/grid/8.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/grid/9.jpg" loading="lazy"/>
  </a>
  <a class="position-relative grid-item">
    <img src="/assets/img/grid/10.jpg" loading="lazy"/>
  </a>
</div>
