<div [ngClass]="{'landing-page': true,'show-mobile-menu': showMobileMenu}">


  <app-lb-nav-mobile></app-lb-nav-mobile>

  <div class="main-container" id="home">
    <app-lb-nav (mobileMenuButtonEvent)="showMobileMenu=!showMobileMenu"></app-lb-nav>

    <div class="content-container">


      <div style="padding: 30px 35px 0">

        <div class="row">
          <div class="col-12 clearfix">
            <h1>Orders details</h1>
            <button type="button" class="btn btn-dark btn-lg mb-1 float-right" style="border-radius: .3rem;">
              Download
            </button>
            <div class="separator mb-5"></div>
          </div>
        </div>

        <div class="invoice-angular" style="max-width: 1000px; margin: 0 auto">
          <div class="mb-5">
            <div class="card mb-5 invoice-contents">
              <div class="card-body d-flex flex-column justify-content-between">
                <div class="d-flex flex-column">
                  <div class="d-flex flex-row justify-content-between pt-2 pb-2">
                    <div class="d-flex align-self-center">
                      <img src="/assets/logos/black.svg" style=" width: 150px;"/>
                    </div>
                    <div class="d-flex w-30 text-right align-self-center">
                      <p class="text-small text-semi-muted mb-0">ColoredStrategies Inc 35 Little Russell St.
                        Bloomsburg
                        London,UK<br/>784 451 12 47</p>
                    </div>
                  </div>
                  <div class="border-bottom pt-4 mb-5"></div>

                  <div class="d-flex flex-row justify-content-between mb-5">
                    <div class="d-flex flex-column w-70 mr-2 p-4 text-semi-muted bg-semi-muted">
                      <p class="mb-0">Latashia Nagy</p>
                      <p class="mb-0">100-148 Warwick Trfy, Kansas City, USA</p>
                    </div>
                    <div class="d-flex w-30 flex-column text-right p-4 text-semi-muted bg-semi-muted">
                      <p class="mb-0">Invoice #: 741</p>
                      <p class="mb-0">02.02.2019</p>
                    </div>
                  </div>
                  <table class="table table-borderless">
                    <thead>
                    <tr>
                      <th class="text-muted text-extra-small mb-2">ITEM NAME</th>
                      <th class="text-muted text-extra-small mb-2">COUNT</th>
                      <th class="text-right text-muted text-extra-small mb-2">PRICE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Marble Cake</td>
                      <td>3 pcs</td>
                      <td class="text-right">$ 14.82</td>
                    </tr>
                    <tr>
                      <td>Chocolate Cake</td>
                      <td>2 pcs</td>
                      <td class="text-right">$ 8.97</td>
                    </tr>
                    <tr>
                      <td>Fat Rascal</td>
                      <td>2 pcs</td>
                      <td class="text-right">$ 18.24</td>
                    </tr>
                    <tr>
                      <td>Cremeschnitte</td>
                      <td>2 pcs</td>
                      <td class="text-right">$ 4.24</td>
                    </tr>
                    <tr>
                      <td>Cheesecake</td>
                      <td>3 pcs</td>
                      <td class="text-right">$ 6.27</td>
                    </tr>
                    <tr>
                      <td>Magdalena</td>
                      <td>2 pcs</td>
                      <td class="text-right">$ 10.97</td>
                    </tr>
                    <tr>
                      <td>Genoise</td>
                      <td>2 pcs</td>
                      <td class="text-right">$ 21.24</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="d-flex flex-column">
                  <div class="border-bottom pt-3 mb-5"></div>
                  <table class="table table-borderless d-flex justify-content-end">
                    <tbody>
                    <tr>
                      <td class="text-semi-muted">Subtotal :</td>
                      <td class="text-right">$ 61.82</td>
                    </tr>
                    <tr>
                      <td class="text-semi-muted">Tax :</td>
                      <td class="text-right">$ 61.82</td>
                    </tr>
                    <tr>
                      <td class="text-semi-muted">Shipping :</td>
                      <td class="text-right">$ 3.21</td>
                    </tr>
                    <tr class="font-weight-bold">
                      <td class="text-semi-muted">Total :</td>
                      <td class="text-right">$ 68.14</td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="border-bottom pt-3 mb-5"></div>
                  <p class="text-muted text-small text-center">Invoice was created on a computer and is valid
                    without the
                    signature and seal. </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>

  <app-lb-footer></app-lb-footer>

</div>



