<ngx-headroom class="landing-page-nav">
  <nav class="navbar">
    <div class=" d-flex align-items-center justify-content-between" style="width: 100%">
      <a routerLink="/" class="navbar-logo pull-left" style="margin-top: 3px; width: 150px;">
        <img src="/assets/logos/black.svg" alt="" style=" width: 150px;">
      </a>
      <app-lb-nav-search></app-lb-nav-search>
      <app-lb-nav-menu></app-lb-nav-menu>
      <span class="mobile-menu-button" (click)="mobileMenuButton(); $event.stopPropagation()">
        <i class="simple-icon-menu"></i>
      </span>
    </div>
  </nav>
</ngx-headroom>
