
@import "_partials/genral";
@import "_partials/nav";
@import "_partials/public-pages";
@import "_partials/banner";
@import "_partials/artists-banner";
@import "_partials/home-page-search";
@import "_partials/row-grid";
@import "_partials/badges";
@import "_partials/tabs";
@import "_partials/grid";
@import "_partials/product-page";
@import "_partials/collection-card-gallery";
@import "_partials/footer";
.hidden{
  opacity: 0;
}


.scroll-no-margin{
  perfect-scrollbar > .ps{
    padding: 0;
    margin: 0;
  }
}
